:root {
  font: 16px / 1 sans-serif;
  --white: #fefefe;
  --grayish: #f7f8f9;
  --dark-gray: #e1e4e8;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: var(--grayish);
}

.catContainer {
  list-style: none;
  width: 24%;
}

.fa-github {
  font-size: 2rem;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 1rem;
}

.left-side,
.right-side {
  display: flex;
  margin-right: 1rem;
  list-style: none;
}

.left-side li,
.right-side li {
  padding: 0rem 1rem;
  margin-right: 1rem;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background-color: whitesmoke;
  border-bottom: solid 1px var(--dark-gray);
}

.nav-back {
  display: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cat-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 5;
  justify-content: center;
}

img {
  border: solid var(--dark-gray) 1px;
  border-radius: 9px;
  justify-content: center;
  text-align: center;
  padding: 0.5rem;
  margin-top: 2rem;
  margin-right: 2rem;
  box-sizing: border-box;
  width: 100%;
}

@media (min-width: 1012px) {
  main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .cat-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .nav-back {
    display: contents;
  }
}

@media (min-width: 604px) and (max-width: 1011px) {
  main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .cat-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .nav-back {
    display: contents;
  }
  .catContainer {
    list-style: none;
    width: 97%;
  }
}
